.idea/
**/.idea/
**/*.iml
target/
.DS_Store
/lib/
.bloop*
.metal*
metals.sbt

api-docker-compose.yml
docker-compose.yml
yarn-error.log
**/*.code-workspace

.env
*.env

dependency-reduced-pom.xml
*.jar
*.prefs
*.project
*.classpath
*http-client.private.env.json
settings.json
build.properties
pc.stdout.log
*.vsls.json

venv

.gradle
build

node_modules
__pycache__
__pycache__
*.pyc

.terraform

*.whl

# VS Code
**/.vscode/*
*.code-workspace
# Local History for Visual Studio Code
.history/
.factorypath

.sentryclirc
