body {
  letter-spacing: 0.5px;
  font-family: 'Invention';
  margin: 0;
  background-color: rgb(240,242,243);
  overflow-x: hidden;
}

html {
  letter-spacing: 0.5px;
  font-family: 'Invention';
}

svg {
  letter-spacing: 0.5px;
  font-family: 'Invention';
}

button {
  font-family: 'Invention';
  letter-spacing: 0.5px;
}

span:not([class^="ace_"]) {
  font-family: 'Invention';
  letter-spacing: 0.5px;
}

input {
  font-family: 'Invention';
  letter-spacing: 0.5px;
}

table {
  font-family: 'Invention';
  letter-spacing: 0.5px;
}

*:focus {
  outline:none !important;
}

/* Works on Firefox */
* {
  /* scrollbar-width: thin; */
  scrollbar-color: #d2d5d7 #f0f2f3;
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f0f2f3;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d2d5d7;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #bbbfc1;
}
