version: '3'
services:
  vault:
    image: vault:1.6.0
    cap_add:
      - IPC_LOCK
    environment:
      - VAULT_ADDR=http://127.0.0.1:8200
    command: vault server -config=/vault/config/config.json
    ports: 
      - 80:8200
    volumes:
      - vault-data:/vault
      - ./config.json:/vault/config/config.json
volumes:
  vault-data: