bin/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
*.iml
.cache
.idea
.idea/*
.g8
.g8/*
.env
.env*
.project

org.eclipse.buildship.core.prefs

docker-compose.yml

dataprofiler.db
dataprofiler.db*

*.csv
local-docker.dns

cs
.bsp
