[Unit]
Description=Spark Master Service
After=network.target

[Service]
User=spark
Group=spark
ExecStart={{ spark_home }}/sbin/start-master.sh
ExecStop={{ spark_home }}/sbin/stop-master.sh
Environment=JAVA_HOME={{ java_home }}
Environment=SPARK_DAEMON_MEMORY={{ spark_master_memory }}
Restart=always
RestartSec=60
StartLimitBurst=5
TimeoutStartSec=5min
PIDFile={{ spark_pid_directory }}/spark-spark-org.apache.spark.deploy.master.Master-1.pid

[Install]
WantedBy=multi-user.target