CLUSTER_NAME={{ CLUSTER_NAME }}
PLAY_FRAMEWORK_SECRET={{ PLAY_FRAMEWORK_SECRET }}
PLAY_REQUIRE_LOGIN_ATTRIBUTE_FOR_ACCESS={{ PLAY_REQUIRE_LOGIN_ATTRIBUTE_FOR_ACCESS }}
ACCUMULO_INSTANCE={{ ACCUMULO_INSTANCE }}
ACCUMULO_USER={{ ACCUMULO_USER }}
ACCUMULO_PASSWORD={{ ACCUMULO_PASSWORD }}

USER_FACING_UI_HTTP_PATH={{ USER_FACING_UI_HTTP_PATH }}
USER_FACING_API_HTTP_PATH=http://localhost:9000

STATSD_HOST=backend-docker
STATSD_PORT=8125
GRAPHITE_PORT=3400

ANALYTICS_API_SITE_ID=2
ANALYTICS_UI_SITE_ID=1

AUTH_METHOD=local-developer
OAUTH_STATE={{ OAUTH_STATE }}

COGNITO_AUTHSERVER={{ COGNITO_AUTHSERVER }}
COGNITO_CLIENT_ID={{ COGNITO_CLIENT_ID }}
COGNITO_CLIENT_SECRET={{ COGNITO_CLIENT_SECRET }}

OAUTH_CLIENT_ID={{ OAUTH_CLIENT_ID }}
OAUTH_CLIENT_SECRET={{ OAUTH_CLIENT_SECRET }}
OAUTH_AUTH_URL={{ OAUTH_AUTH_URL }}
OAUTH_CLIENT_ID_NEXT={{ OAUTH_CLIENT_ID_NEXT }}
OAUTH_CLIENT_SECRET_NEXT={{ OAUTH_CLIENT_SECRET_NEXT }}

S3_BUCKET={{ S3_BUCKET }}
AWS_S3_UPLOAD_ACCESS_KEY_ID={{ AWS_S3_UPLOAD_ACCESS_KEY_ID }}
AWS_S3_UPLOAD_SECRET_ACCESS_KEY={{ AWS_S3_UPLOAD_SECRET_ACCESS_KEY }}

SENTRY_DSN={{ SENTRY_API_DSN }}
SENTRY_ENVIRONMENT={{ CLUSTER_NAME }}

ZOOKEEPERS={{ ZOOKEEPERS }}
ACCUMULO_COLUMN_COUNTS_TABLE={{ ACCUMULO_COLUMN_COUNTS_TABLE }}
ACCUMULO_METADATA_TABLE={{ ACCUMULO_METADATA_TABLE }}
ACCUMULO_SAMPLES_TABLE={{ ACCUMULO_SAMPLES_TABLE }}
ACCUMULO_DATAWAVE_ROW_TABLE={{ ACCUMULO_DATAWAVE_ROW_TABLE }}
ACCUMULO_INDEX_TABLE={{ ACCUMULO_INDEX_TABLE }}
ACCUMULO_DATA_LOAD_JOBS_TABLE={{ ACCUMULO_JOBTABLE }}
ACCUMULO_API_TOKENS_TABLE={{ ACCUMULO_API_TOKENS_TABLE }}

JOBS_API_PATH={{ JOBS_API_PATH }}
ACCUMULO_JOBTABLE={{ ACCUMULO_JOBTABLE }}

RULES_OF_USE_API_HTTP_PATH={{ RULES_OF_USE_API_HTTP_PATH }}
RULES_OF_USE_API_KEY={{ RULES_OF_USE_API_KEY }}

TIMEOUT_MINUTES={{ TIMEOUT_MINUTES }}
INACTIVE_TIMEOUT_MINUTES={{ INACTIVE_TIMEOUT_MINUTES }}

DOC_PREVIEW_HOST={{ DOC_PREVIEW_HOST }}