version: '3'
services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 
      POSTGRES_DB: rules_of_use
    volumes:
      - /etc/hosts:/etc/hosts
      - rou-db:/var/lib/postgresql/data

  api:
    build:
      context: .
      args:
        NODE_ENV: 'development'
    depends_on:
      - db
    ports:
      - "8081:8081"
    environment:
      - NODE_ENV=development
      - DATABASE_NUM_POOL_CONNS=50
      - TIMEOUT_MINUTES=5
      - INACTIVE_TIMEOUT_MINUTES=1
    volumes:
      - /etc/hosts:/etc/hosts

volumes:
  rou-db:
